<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Crash Course</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href=""><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About sUs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aperiam
        repellendus cumque nihil? Vel veritatis in nisi facilis sequi assumenda
        aliquid vitae pariatur, cupiditate necessitatibus dolor, placeat at
        voluptates perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aperiam
        repellendus cumque nihil? Vel veritatis in nisi facilis sequi assumenda
        aliquid vitae pariatur, cupiditate necessitatibus dolor, placeat at
        voluptates perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aperiam
        repellendus cumque nihil? Vel veritatis in nisi facilis sequi assumenda
        aliquid vitae pariatur, cupiditate necessitatibus dolor, placeat at
        voluptates perspiciatis.
      </p>
    </div>
  </body>
</html>
